*{
	margin: 0;
	padding: 0;	
}

body{
	font-family: Arial, sans-serif;
	font-size: 16px;
}

header{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	height: 45px;
	width: 100%;
	background: rgba(0, 0, 0, 0.92);
	font-size: 0.9em;
}

nav{
	height: 100%;
}

nav ul{
	height: 100%;
	max-width: 980px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

nav ul li{
	list-style: none;
	display: inline;
}

nav ul li a{
	text-decoration: none;
	color: #f5f5f7;
	opacity: 0.8;
	transition: opacity .3s;
}

nav ul li a:hover{
	opacity: 1;
}

#logo{
	display:flex;
	align-items:center;
	font-size: 1.2em;
}
#logo img{
	height: 30px;
	margin-right: 5px;
}

#searchbar{
	position: fixed;
	top: 50px;
	right: 5px;
	z-index: 10;
	width: 600px;
	max-width: calc(100% - 10px);
	padding: 10px;
}


.dd-category{
	position: relative;
}

.dd-category-content{
	display: none;
	position: absolute;
	width: 175px;
	background-color: black;
	border-radius: 5px;
}

.dd-category-content a{
	display: block;
	padding: 15px;
}

.dd-category:hover .dd-category-content{
	display: block;
}


footer{
	height: 45px;
	width: 100%;
	background: rgba(0, 0, 0, 0.92);
}

footer ul{
	height: 100%;
	max-width: 980px;
	margin: 0 auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

footer ul li{
	list-style: none;
	display: inline;
	color: #f5f5f7;
}

main{
	padding: 65px 20px 20px 20px;
	box-sizing: border-box;
	min-height: calc(100vh - 45px);
}

.tiles{
	display: flex;
	flex-wrap: wrap;
}

.tile{
	margin: 20px;
	padding: 36px 24px 24px 24px;
	height: 400px;
	min-width: 250px;
	background-size: cover;
	background-position: center;
	transition: transform 0.1s;
}

.tile a{
	text-decoration: none;
	color: inherit;
}

.tile:hover{
	transform: scale(1.01);
}



#register-form{
	max-width: 500px;
	padding: 20px;
	margin: 0 auto;
	border: 2px solid #f1f1f1;
}
#register-form h1{
	margin-bottom: 20px;
}
#register-form hr{
	margin: 20px -20px;
	border: 1px solid #f1f1f1;
}
#register-form input{
	width: 100%;
	margin: 5px 0 20px 0;
	padding: 15px;
	box-sizing: border-box;
}
#register-form button{
	width: 100%;
	padding: 15px;
	margin-bottom: 20px;
	background-color: #198754;
	color: white;
	font-size: 1.1em;
	border: none;
	opacity: 0.9;
}
#register-form button:hover{
	opacity: 1;
}
#register-form div{
	margin: 0 -20px -20px -20px;
	padding: 20px 0;
	background-color: #f1f1f1;
}



.about-col{
	float: left;
	width: 50%;
	padding: 20px;
	box-sizing: border-box;
}

.about-col iframe{
	border: 0;
	width: 100%;
	height: 400px;
}

@media screen and (max-width: 700px){
	.about-col{
		width: 100%;
	}
}

.about-row:after {
	content: "";
	display: block;
	clear: both;
}



.catalogue-container{
	position: relative;
}
.catalogue-items{
	overflow: hidden;
	white-space: nowrap;
}
.product-item{
	width: 200px;
	height: 200px;
	margin: 20px;
	background-color: #f1f1f1;
	display: inline-block;
	vertical-align: top;
}

.catalogue-left, .catalogue-right{
	width: 40px;
	height: 40px;
	position: absolute;
	top: 50%;
	transform: translateY(-20px);
	background-color: #ddd;
	border: none;
	border-radius: 50%;
}
.catalogue-left:hover, .catalogue-right:hover{
	background-color: #f1f1f1;
}
.catalogue-left{
	left: 20px;
}
.catalogue-right{
	right: 20px;
}

.product-item img{
	height: 100px;
	margin: 10px 0 10px 50px;
}
.product-item div{
	height: 80px;
	padding-top: 10px;
	box-sizing: border-box;
	background-color: #ddd;
}
.product-item h3{
	white-space: initial;
}
.product-item p{
	font-size: 0.9em;
}
.product-item p:hover{
	text-decoration: underline;
}


.product-items{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}



.filter-form{
	max-width: 500px;
	padding: 20px;
	margin: 0 auto;
	border: 2px solid #f1f1f1;
}
.filter-form h2{
	margin-bottom: 20px;
}
.filter-form hr{
	margin: 20px -20px;
	border: 1px solid #f1f1f1;

	margin-bottom: -22px;
}
.filter-form h3{
	margin-bottom: 5px;
}
.filter-form button{
	width: 30%;
	padding: 10px;
	background-color: #198754;
	color: white;
	font-size: 1.1em;
	border: none;
	opacity: 0.9;
}
.filter-form button:hover{
	opacity: 1;
}
.filter-form img{
	height: 1em;
	vertical-align: text-top;
}
.filter-form div{
	display: none;
}



.card-bg{
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	background: rgba(0, 0, 0, 0.92);
	display: flex;
	align-items: center;
	justify-content: center;

	display: none;
}
.card{
	width: 600px;
	height: 600px;
	margin: 20px;
	background: #f1f1f1;
	overflow: auto;
}
.card table{
	width: 100%;
}
.card td{
	padding: 20px;
}
.card img{
	box-sizing: border-box;
	width: 100%;
}



.addproduct-form{
	max-width: 500px;
	padding: 20px;
	margin: 0 auto;
	border: 2px solid #f1f1f1;
}
.addproduct-form input[type="text"]{
	width: 100%;
	margin: 5px 0 20px 0;
	padding: 15px;
	box-sizing: border-box;
}
.addproduct-form button{
	width: 100%;
	padding: 15px;
	margin-top: 20px;
	background-color: #198754;
	color: white;
	font-size: 1.1em;
	border: none;
	opacity: 0.9;
}
.addproduct-form button:hover{
	opacity: 1;
}



.categ-table{
	min-width: 500px;
	margin: 0 auto;
	border-collapse: collapse;
}
.categ-table td{
	border: 2px solid #f1f1f1;
	padding: 15px;
}
.categ-table button{
	padding: 10px;
	color: white;
	border: none;
	opacity: 0.9;
}
.categ-table button:hover{
	opacity: 1;
}



.admin-panel-tabs{
	max-width: 700px;
	margin: 0 auto;
	padding-bottom: 20px;
	overflow: hidden;
}
.admin-panel-tabs button{
	background-color: inherit;
	float: left;
	border: none;
	padding: 15px;
	transition: 0.3s;
}
.admin-panel-tabs button:hover{
	background-color: #ddd;
}
.admin-panel-welc{
	max-width: 700px;
	margin: 0 auto;
	padding: 20px;
	color: #5e8262;
	background: #dff0d8;
	border: 1px solid #91b394;
	border-radius: 3px;
}
.admin-panel-welc hr{
	margin: 0 -20px;
	border: 0.5px solid #91b394;
}